* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F6F5;
}

header {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
}

.logo {
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: start;
    padding: 16px 0px;
    font-size: 42px;
}

.nav {
    flex-direction: row;
    padding: 16px 0px;
}

.nav ul {
    font-weight: 100;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.nav ul a {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    align-items: center;
    justify-content: space-evenly;
    transition: color 0.2s ease-in;
}

.nav ul li:hover a {
    color: #BF2EF0;
}

main{
    margin: 48px 0;
}

.cont2, .cont3, .cont4, .cont5, footer, .main-img{
    margin: 0px 48px;
}

.text {
    margin: 48px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
}

.cont1 p {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 120px;
    font-weight: 400;
}

.main-img {
    padding-bottom: 96px;
}

.main-img img {
    flex-direction: column;
    width: 100%;
    border-radius: 22px;
    box-shadow: 0 4px 10px rgba(70, 70, 70, 0.3);
}

.cont2{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mini-cont{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 30%;
    margin-bottom: 20px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.mini-cont img{
    width: 100%;
    box-shadow: 0 4px 10px rgba(119, 119, 119, 0.3);
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.mini-cont img:hover{
    transform: scale(1.1);
}

.mini-cont h2{
    font-size: 20px;
    font-weight: 400;
}

.mini-cont p{
    color: #00000099;
    font-size: 17px;
}

.cont3{
    padding: 96px 0px;
}
.cont3 p{
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
}

.cont4{
    padding: 96px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont4 h2{
    font-size: 48px;
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 52px;
}

.cont4 p{
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
}

.cont5{
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.cont5-text h2{
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
}

.cont5-text p{
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
}

.container-otp{
    display: flex;
    gap: 12px;
}

.otp {
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #0000005C;
    text-align: center;
    width: 56px;
    height: 64px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.submit{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #19332D;
    color: #FAFFFE;
    width: 400px;
    padding: 8px 16px 8px 16px;
    border: 2px solid #19332D;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.submit:hover{
    border: 2px solid #19332D;
    background-color: #F2F6F5;
    color: #19332D;
}

.skip{
    background-color: #F2F6F5;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    color: #19332D;
    border: none;
    cursor: pointer;
}

footer{
    padding: 96px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    color: #00000099;
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
}

.follow{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F6F5;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 20px;
    transition: all 0.3s ease;
    border: 2px solid #19332D;
}

.follow:hover{
    background-color: #19332D;
    color: #F2F6F5;
}

@media (max-width: 1100px) and (min-width: 768px) {
    .logo{
        font-size: 28px;
        line-height: 28px;
    }

    .nav ul{
        gap: 10px;
    }

    .nav ul a{
        font-size: 20px;
        line-height: 20px;
    }

    .mini-cont {
        width: 45%;
    }

    .mini-cont:last-child{
        width: 45%;
        justify-content: center;
    }

    .cont1 p {
        font-size: 80px;
        line-height: 80px;
    }

    .cont3 p {
        font-size: 36px;
        line-height: 40px;
    }

    .cont4 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    header{
        padding: 0 24px;
    }
    .main-img{
        padding: 0;
        margin: 0 0 96px 0;
    }

    .main-img img{
        width: 100%;
        border-radius: 0px;
        border: none;
    }

    .text{
        padding: 0;
    }

    .logo{
        font-size: 22px;
        line-height: 22px;
        padding: 8px 0;
    }

    .mini-cont {
        width: 100%;
    }

    .cont1 p {
        font-size: 40px;
        line-height: 40px;
    }

    .cont3{
        padding: 48px 0;
    }

    .cont3 p {
        font-size: 18px;
        line-height: 18px;
    }

    .cont4{
        justify-content: space-around;
        padding: 48px 0;
        flex-direction: column;
        gap: 16px;
    }

    .cont4 h2{
        font-size: 24px;
        line-height: 24px;
    }

    .cont4 p{
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }

    .cont5{
        gap: 12px;
    }

    .cont5 h2 {
        font-size: 24px;
    }

    .cont5 p {
        font-size: 16px;
    }

    .container-otp{
        gap: 4px;
    }

    .otp{
        width: 28px;
        height: 32px;
        font-size: 12px;
        line-height: 16px;
    }

    .submit {
        width: 250px;
    }

    footer{
        flex-direction: column;
        gap: 12px;
    }

    footer p{
        font-size: 20px;
    }

    .follow {
        font-size: 16px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 3px 0;
    }

    .nav {
        position: fixed;
        margin-left: -300%;
    }
}

