* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F6F5;
}

header {
    height: auto;
    width: auto;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: start;
    padding: 5px;
    font-size: 42px;
}

.nav {
    flex-direction: row;
    padding: 5px;
}

.nav ul {
    font-weight: 100;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav ul a {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    align-items: center;
    justify-content: space-evenly;
    transition: color 0.2s ease-in;
}

.nav ul li:hover a {
    color: #BF2EF0;
}

.cont1 {
    padding: 2%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9% 4% 2% 4%;
}

.cont1 p {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 120px;
    font-weight: 400;
}

.main-img {
    padding: 1% 5% 5% 5%;
}

.main-img img {
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(70, 70, 70, 0.3);
}

.cont2{
    padding: 0 7% 0 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.mini-cont{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 30%;
    margin-bottom: 20px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.mini-cont img{
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(119, 119, 119, 0.3);
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.mini-cont img:hover{
    transform: scale(1.1);
}

.mini-cont h2{
    font-size: 20px;
    font-weight: 400;
}

.mini-cont p{
    color: #00000099;
    font-size: 17px;
}

.cont3{
    padding: 7% 7%;
}
.cont3 p{
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
}

.cont4{
    margin: 5% 0;
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact{
    font-size: 48px;
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
}

.cont4 p{
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
}

.cont5{
    margin: 5%;
    padding: 8% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont5 h2{
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.cont5 p{
    font-family: "Gothic A1", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.otp {
    color: #3a3a3a;
    width: 40px;
    height: 50px; 
    text-align: center;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0;
    margin: 0 2px;

}

.submit{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #19332D;
    color: #FAFFFE;
    padding: 5px 120px;
    border: 2px solid #19332D;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.submit:hover{
    border: 2px solid #19332D;
    background-color: #F2F6F5;
    color: #19332D;
}

.skip{
    background-color: #F2F6F5;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #19332D;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

footer{
    padding: 5% 2% 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    font-size: 28px;
    font-weight: 400;
    color: #00000099;
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
}

.follow{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F6F5;
    padding: 5px 15px;
    border-radius: 6px;
    font-size: 20px;
    transition: all 0.3s ease;
    border: 2px solid #19332D;
}

.follow:hover{
    background-color: #19332D;
    color: #F2F6F5;
}

@media (max-width: 1200px) {
    .logo{
        font-size: 28px;
        line-height: 28px;
    }

    .nav ul{
        gap: 10px;
    }

    .nav ul a{
        font-size: 20px;
        line-height: 20px;
    }

    .mini-cont {
        width: 45%;
    }

    .handlesmall{
        width: 100%; display: flex; justify-content: center;
    }

    .cont1 p {
        font-size: 80px;
        line-height: 80px;
    }

    .cont3 p {
        font-size: 36px;
        line-height: 40px;
    }

    .contact {
        font-size: 30px;
    }

    .cont5 h2 {
        font-size: 24px;
    }

    .cont5 p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .logo{
        font-size: 18px;
        line-height: 18px;
    }

    .nav ul{
        gap: 5px;
    }

    .nav ul a{
        font-size: 14px;
        line-height: 14px;
    }

    .mini-cont {
        width: 100%;
    }

    .cont1 p {
        font-size: 40px;
        line-height: 40px;
    }

    .cont3 p {
        font-size: 18px;
        line-height: 18px;
    }

    .contact {
        font-size: 18px;
    }

    .cont4{
        justify-content: space-around;
    }

    .cont4 p{
        font-size: 14px;
        line-height: 14px;
    }

    .cont5 h2 {
        font-size: 20px;
    }

    .cont5 p {
        font-size: 12px;
    }

    .submit {
        padding: 5px 60px;
    }

    footer p{
        font-size: 20px;
    }
}